* {
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  }

.container {
    max-width: 200px;
    margin: 0 auto;
}
.heading{
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.contact-table {
    width: 100%;
    margin-bottom: 10px;
  }


  .contact-item,
  .contact-body {
      padding: 20px;
      border: 1px solid #ccc;
  }
  
  .contact-item {
      text-align: left;
      width: 30%;
      background-color: #eee;
  }
  
  .contact-body {
      width: 70%;
  }